@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

main {
    border: 1px solid #0a2ff1;
    width: 600px;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #04146c;
}

input {
    width: 500px;
    height: 50px;
    font-size: 18.66px;
    font-weight: 400;
    border: 1px solid #414166;
    margin: 5px 0;
}

form {
    width: 506.48px;
    margin: auto;
    border-bottom: 1px solid gray;
    align-items: center;

}

form > input:last-child {
    width: 506.48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #0a2ff1;
    margin-bottom: 20px;
}

a {
    font-size: 18.66px;
    font-weight: 400;
    color: #0a2ff1;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
}